server:
  tomcat:
    uri-encoding: UTF-8
  port: ${PORT:80}

spring:
  profiles:
    active: ${NODE_ENV:dev}
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    username: ${DB_USERNAME:saas}
    password: ${DB_PASSWORD:saas1234}
    hikari:
      connection-timeout: 30000
      minimum-idle: 5
      maximum-pool-size: 10
      auto-commit: true
      idle-timeout: 600000
      pool-name: MyHikariCP
      max-lifetime: 1800000
  flyway:
    table: privilege_schema_history
    baseline-on-migrate: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  rabbitmq:
    host: ${MQ_HOST:localhost}
    port: 5672
    username: ${MQ_USERNAME:guest}
    password: ${MQ_PASSWORD:guest}
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3s
          max-attempts: 3

  redis:
    host: ${REDIS_HOST:10.0.0.103}
    port: ${REDIS_PORT:6379}
    database: ${REDIS_DB:8}
    password: ${REDIS_PASSWORD:redis@fame!2019}

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted_at
      logic-delete-value: 'now()'
      logic-not-delete-value: 'null'


