<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.famesmart.privilege.mapper.LoginRecordsMapper">

    <select id="selectLoginTimes" resultType="com.famesmart.privilege.entity.vo.LoginTimesVO">
        select client_ip,
               count(*) as login_times
        from v2_login_records
        where username = #{username}
        and deleted_at is null
        group by client_ip
        order by login_times desc
        limit 1
    </select>
</mapper>
