<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.famesmart.privilege.mapper.UserPrivilegesMapper">

    <select id="selectPrivilegeByUserId" resultType="com.famesmart.privilege.entity.Privileges">
        select sp.*
        from saas_user_privileges sup
        inner join saas_privileges sp
        on sup.saas_privilege_id = sp.id
        where sup.saas_user_id = #{userId}
    </select>
</mapper>
