<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.famesmart.privilege.mapper.UserRolesMapper">
    <select id="selectPrivilege" resultType="com.famesmart.privilege.entity.Privileges">
        select * from v2_saas_user_roles sur
        inner join v2_saas_roles sr on sur.saas_role_id = sr.id
        inner join v2_saas_role_privileges srp on sr.id = srp.saas_role_id
        inner join v2_saas_privileges sp on srp.saas_privilege_id = sp.id
        where sur.saas_user_id = #{userId}
        and sp.resource = #{resource}
        and sp.operation = #{operation}
    </select>
</mapper>
