<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.famesmart.privilege.mapper.UsersMapper">
    <select id="selectUserList" resultType="com.famesmart.privilege.entity.Users">
        select a.*
        from v2_saas_users a
        <if test="commCode != null">
            inner join v2_saas_user_comms b
            on a.id = b.saas_user_id
            inner join comms c
            on b.comm_id = c.id
        </if>
        <where>
            <if test="position != null">
                a.position = #{position}
            </if>
            <if test="isAdmin == null or isAdmin == 0">
                and a.username not like 'admin%'
            </if>
            <if test="commCode != null">
                and c.comm_code = #{commCode}
            </if>
        </where>
    </select>

    <select id="selectCommAdmin" resultType="com.famesmart.privilege.entity.Users">
        select a.*
        from v2_saas_users a
        inner join v2_saas_user_comms b
        on a.id = b.saas_user_id
        inner join comms c
        on b.comm_id = c.id
        inner join v2_saas_user_roles d
        on a.id = d.saas_user_id
        inner join v2_saas_roles e
        on d.saas_role_id = e.id
        where c.comm_code = #{commCode}
        and e.name = 'admin'
        order by a.created_at desc
        limit 1;
    </select>
</mapper>
