<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.famesmart.privilege.mapper.UserCommAlarmsMapper">

    <select id="selectCommAlarmByUserId" resultType="com.famesmart.privilege.entity.vo.CommAlarmVO">
        select a.comm_alarm_id,
               b.alarm_title,
               b.comm_code,
               b.alarm_rule_id
        from v2_saas_user_comm_alarms a
        inner join comm_alarms b
        on a.comm_alarm_id = b.id
        where saas_user_id = #{userId}
        and a.deleted_at is null
    </select>
</mapper>
